  /* ==========================================================================
   #CONFIG-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #ANIMATIONS-TRANSITIONS-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #BREAKPOINTS-VARIABLES
   ========================================================================== */
/**
 * Breakpoints needed for sass-mq mixin
 */
/* ==========================================================================
   #COLOR-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #SPACING-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #TYPOGRAPHY-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #Z-LAYERS-VARIABLES
   ========================================================================== */
/* ==========================================================================
   #BORDER RADUIS-VARIABLES
   ========================================================================== */
::selection {
  background: #002434;
  background: rgba(0, 36, 52, 0.3);
}

::-moz-selection {
  background: #002434;
  background: rgba(0, 36, 52, 0.3);
}

* {
  -webkit-tap-highlight-color: rgba(0, 36, 52, 0.2);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: auto;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: #00111B;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.is-blocked, body.is-modal-open, body.is-gradpanel-open {
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: bold;
  font-size: 1em;
}

p, ul, ol, dl, button, a {
  font-size: 1em;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.o-App {
  display: grid;
  grid-template-areas: "header header header" "aside main main" "aside footer footer";
  grid-template-columns: 320px 1fr;
  grid-template-rows: 56px 1fr 56px;
  height: 100vh;
}
.o-App__header {
  grid-area: header;
  padding-left: 16px;
  padding-right: 16px;
}
.o-App__aside {
  grid-area: aside;
  overflow-y: auto;
  padding-left: 16px;
}
.o-App__main {
  grid-area: main;
  padding: 16px;
}
.o-App__footer {
  grid-area: footer;
  padding: 16px;
}

.o-GraphContainer {
  display: grid;
  grid-template-areas: "toolbar" "graph-canvas";
  grid-template-columns: 1fr;
  grid-template-rows: 56px 1fr;
}
.o-GraphContainer__toolbar {
  grid-area: toolbar;
}
.o-GraphContainer__canvas {
  grid-area: graph-canvas;
}

/* ==========================================================================
   #CONTAINER-OBJECT
   ========================================================================== */
.o-container {
  padding-right: 16px;
  padding-left: 16px;
  padding: 32px;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.o-grid {
  display: grid;
}
.o-grid--2col {
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 768px) {
  .o-grid--2col {
    grid-template-columns: repeat(2, 1fr);
  }
}
.c-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.c-Header__Logo h1 {
  display: inline-block;
}

.c-Toolbar {
  display: flex;
  flex-direction: row;
}
.c-Toolbar__group {
  padding-right: 16px;
}

.c-Card {
  padding: 8px;
}

/*# sourceMappingURL=main.css.map */
